/*
Root CSS styling file
*/
@font-face {
    font-family: "Gobold Bold";
    src: url(assets/gobold/Gobold_Bold.otf);
}

@font-face {
    font-family: "Gobold Regular";
    src: url(assets/gobold/Gobold\ Regular.otf);
}

@font-face {
    font-family: "Gobold Hollow";
    src: url(assets/gobold/Gobold\ Hollow.otf);
}

html {
    font-family: Gobold Regular;
    background-image: url('assets/grunge-background-texture_low3v.jpg');
    background-size: cover;
}

@media screen and (max-width: 464px) {
    html {
        font-size: 10px;
    }
}
